body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: white;
    background-size: cover;
}

canvas {
    border: 30px solid lightpink;
    border-radius: 10px;
    /* set the width and height to half of the actual size so it doesn't look pixelated */
    width: 800px;
    height: 500px;
    background-color: lightcyan;
}